.select-hover:hover {
    background-color: rgb(16, 180, 245);
    color: white;
    font-weight: 400;
    border: 1px solid indianred;
  }
.apply-hover:hover {
    background-color: rgb(16, 180, 245);
    color: white;
    font-weight: 400;
  }